body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:50px;
  width:480px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:72px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:476px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:70px;
  width:32px;
  height:32px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:121px;
  width:480px;
  height:79px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:79px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:150px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:423px;
  top:132px;
  width:55px;
  height:55px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u13 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:199px;
  width:480px;
  height:61px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:61px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:221px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:20px;
  top:439px;
  width:480px;
  height:61px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:61px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:40px;
  top:461px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:20px;
  top:259px;
  width:480px;
  height:61px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:61px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:40px;
  top:281px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:429px;
  top:220px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:20px;
  top:379px;
  width:480px;
  height:61px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:61px;
}
#u29 {
  position:absolute;
  left:2px;
  top:22px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:40px;
  top:401px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:314px;
  top:462px;
  width:164px;
  height:19px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:306px;
  top:281px;
  width:172px;
  height:19px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:353px;
  top:402px;
  width:125px;
  height:19px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:20px;
  top:319px;
  width:480px;
  height:61px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:61px;
}
#u39 {
  position:absolute;
  left:2px;
  top:22px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:40px;
  top:341px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:378px;
  top:340px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:441px;
  top:78px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:800px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u47 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:40px;
  top:379px;
  width:440px;
  height:111px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:111px;
}
#u49 {
  position:absolute;
  left:2px;
  top:48px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:236px;
  top:393px;
  width:49px;
  height:28px;
  font-size:24px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:40px;
  top:430px;
  width:440px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:423px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:440px;
  height:1px;
}
#u53 {
  position:absolute;
  left:224px;
  top:450px;
  width:73px;
  height:28px;
  font-size:24px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:40px;
  top:509px;
  width:440px;
  height:50px;
  font-size:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:50px;
}
#u56 {
  position:absolute;
  left:2px;
  top:13px;
  width:436px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:480px;
  top:420px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:690px;
  top:310px;
  width:480px;
  height:80px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:80px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:650px;
  top:310px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
