body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:50px;
  width:480px;
  height:50px;
  font-size:28px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:748px;
  width:480px;
  height:72px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:72px;
}
#u7 {
  position:absolute;
  left:2px;
  top:28px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:48px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:49px;
  top:798px;
  width:38px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:144px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:145px;
  top:798px;
  width:38px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:335px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:336px;
  top:798px;
  width:39px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:430px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:431px;
  top:798px;
  width:38px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:239px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:239px;
  top:798px;
  width:39px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:20px;
  top:98px;
  width:480px;
  height:856px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:856px;
}
#u29 {
  position:absolute;
  left:2px;
  top:420px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:20px;
  top:98px;
  width:480px;
  height:214px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:214px;
}
#u31 {
  position:absolute;
  left:2px;
  top:99px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:200px;
  top:128px;
  width:120px;
  height:120px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u33 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:419px;
  top:173px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1310px;
  top:98px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1350px;
  top:98px;
  width:480px;
  height:16px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1310px;
  top:238px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1350px;
  top:238px;
  width:480px;
  height:96px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:96px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:492px;
  top:312px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:220px;
  top:258px;
  width:81px;
  height:24px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:43px;
  top:342px;
  width:40px;
  height:40px;
  color:#666666;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:104px;
  top:354px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:104px;
  top:380px;
  width:311px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:104px;
  top:406px;
  width:110px;
  height:110px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u55 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:219px;
  top:406px;
  width:110px;
  height:110px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u57 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:334px;
  top:406px;
  width:110px;
  height:110px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u59 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:20px;
  top:542px;
  width:480px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u61 {
  position:absolute;
  left:104px;
  top:522px;
  width:47px;
  height:16px;
  color:#999999;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:161px;
  top:521px;
  width:157px;
  height:16px;
  color:#999999;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:112px;
  top:629px;
  width:105px;
  height:64px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:112px;
  top:701px;
  width:65px;
  height:16px;
  color:#999999;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:112px;
  top:590px;
  width:217px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:45px;
  top:570px;
  width:57px;
  height:57px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u72 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:20px;
  top:737px;
  width:480px;
  height:58px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:58px;
}
#u74 {
  position:absolute;
  left:2px;
  top:21px;
  width:476px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:32px;
  top:59px;
  width:32px;
  height:32px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:447px;
  top:54px;
  width:40px;
  height:40px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:497px;
  top:59px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1310px;
  top:394px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1350px;
  top:394px;
  width:480px;
  height:145px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:145px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1500px;
  top:458px;
  width:140px;
  height:50px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u86 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:620px;
  top:20px;
  width:480px;
  height:800px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u88 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:620px;
  top:20px;
  width:480px;
  height:32px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:620px;
  top:50px;
  width:480px;
  height:50px;
  font-size:28px;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:620px;
  top:748px;
  width:480px;
  height:72px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:72px;
}
#u94 {
  position:absolute;
  left:2px;
  top:28px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:648px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u96 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:649px;
  top:798px;
  width:38px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:744px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u100 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:745px;
  top:798px;
  width:38px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:935px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u104 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:936px;
  top:798px;
  width:39px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:1030px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u108 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1031px;
  top:798px;
  width:38px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:839px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u112 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:839px;
  top:798px;
  width:39px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:620px;
  top:98px;
  width:480px;
  height:856px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:856px;
}
#u116 {
  position:absolute;
  left:2px;
  top:420px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:620px;
  top:98px;
  width:480px;
  height:214px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:214px;
}
#u118 {
  position:absolute;
  left:2px;
  top:99px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:800px;
  top:128px;
  width:120px;
  height:120px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u120 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:820px;
  top:258px;
  width:81px;
  height:24px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:643px;
  top:342px;
  width:40px;
  height:40px;
  color:#666666;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:704px;
  top:354px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:704px;
  top:380px;
  width:311px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:704px;
  top:406px;
  width:110px;
  height:110px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u130 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:819px;
  top:406px;
  width:110px;
  height:110px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u132 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:934px;
  top:406px;
  width:110px;
  height:110px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u134 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:620px;
  top:542px;
  width:480px;
  height:10px;
}
#u135_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u136 {
  position:absolute;
  left:704px;
  top:522px;
  width:47px;
  height:16px;
  color:#999999;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:761px;
  top:521px;
  width:157px;
  height:16px;
  color:#999999;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:712px;
  top:629px;
  width:105px;
  height:64px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:712px;
  top:701px;
  width:65px;
  height:16px;
  color:#999999;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:712px;
  top:590px;
  width:217px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:645px;
  top:570px;
  width:57px;
  height:57px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u147 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:620px;
  top:737px;
  width:480px;
  height:58px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:58px;
}
#u149 {
  position:absolute;
  left:2px;
  top:21px;
  width:476px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:632px;
  top:59px;
  width:32px;
  height:32px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u151 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:1047px;
  top:54px;
  width:40px;
  height:40px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u153 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:1097px;
  top:59px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u155 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:1310px;
  top:592px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u157 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:1350px;
  top:592px;
  width:480px;
  height:145px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:145px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:1500px;
  top:656px;
  width:140px;
  height:50px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u161 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:224px;
  top:1017px;
  width:73px;
  height:28px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:824px;
  top:1017px;
  width:73px;
  height:28px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
