body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:520px;
  top:70px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:20px;
  width:480px;
  height:800px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u3 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:20px;
  width:480px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:50px;
  width:480px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:72px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:476px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:467px;
  top:78px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:40px;
  top:120px;
  width:480px;
  height:350px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:350px;
}
#u11 {
  position:absolute;
  left:2px;
  top:167px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:60px;
  top:140px;
  width:146px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:64px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:718px;
  top:50px;
  width:480px;
  height:72px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:72px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:678px;
  top:50px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:718px;
  top:144px;
  width:480px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:678px;
  top:144px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:500px;
  top:124px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:51px;
  top:70px;
  width:32px;
  height:32px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
