body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:50px;
  width:480px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:72px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:476px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:70px;
  width:32px;
  height:32px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:119px;
  width:480px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:60px;
  top:131px;
  width:229px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:40px;
  top:158px;
  width:440px;
  height:48px;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:48px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:60px;
  top:229px;
  width:209px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:450px;
  top:130px;
  width:40px;
  height:16px;
  color:#666666;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:450px;
  top:235px;
  width:40px;
  height:16px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:331px;
  width:480px;
  height:100px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u21 {
  position:absolute;
  left:2px;
  top:42px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:40px;
  top:342px;
  width:271px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:40px;
  top:370px;
  width:440px;
  height:48px;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:48px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:430px;
  width:480px;
  height:100px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u27 {
  position:absolute;
  left:2px;
  top:42px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:40px;
  top:441px;
  width:229px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:40px;
  top:469px;
  width:440px;
  height:48px;
  color:#666666;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:48px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:450px;
  top:342px;
  width:40px;
  height:16px;
  color:#666666;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:415px;
  top:447px;
  width:75px;
  height:16px;
  color:#666666;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:40px;
  top:137px;
  width:10px;
  height:10px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:40px;
  top:235px;
  width:10px;
  height:10px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:60px;
  top:117px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:620px;
  top:230px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:660px;
  top:230px;
  width:480px;
  height:32px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:620px;
  top:34px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:660px;
  top:38px;
  width:480px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:20px;
  top:528px;
  width:480px;
  height:58px;
  color:#999999;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:58px;
}
#u51 {
  position:absolute;
  left:2px;
  top:21px;
  width:476px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:40px;
  top:261px;
  width:440px;
  height:48px;
  color:#666666;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:48px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:470px;
  top:540px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:620px;
  top:374px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:660px;
  top:374px;
  width:480px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
