body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1320px;
  top:164px;
  width:530px;
  height:337px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:337px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1280px;
  top:164px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:800px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u5 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:32px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:50px;
  width:480px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:72px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:476px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:70px;
  width:32px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:186px;
  width:460px;
  height:220px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:220px;
}
#u13 {
  position:absolute;
  left:2px;
  top:102px;
  width:456px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:98px;
  top:745px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:420px;
  top:745px;
  width:31px;
  height:22px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:420px;
  top:804px;
  width:31px;
  height:22px;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:510px;
  top:190px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:30px;
  top:700px;
  width:460px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:30px;
  top:740px;
  width:460px;
  height:80px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:80px;
}
#u25 {
  position:absolute;
  left:2px;
  top:32px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:82px;
  top:714px;
  width:53px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:246px;
  top:713px;
  width:27px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:394px;
  top:712px;
  width:40px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:30px;
  top:777px;
  width:460px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:443px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:460px;
  height:1px;
}
#u33 {
  position:absolute;
  left:30px;
  top:814px;
  width:460px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:443px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:460px;
  height:1px;
}
#u34 {
  position:absolute;
  left:76px;
  top:754px;
  width:65px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:249px;
  top:754px;
  width:22px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:76px;
  top:793px;
  width:65px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:252px;
  top:793px;
  width:15px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:510px;
  top:438px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1320px;
  top:570px;
  width:480px;
  height:64px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:64px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1280px;
  top:570px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:510px;
  top:706px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1320px;
  top:662px;
  width:480px;
  height:144px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:144px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1280px;
  top:662px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:406px;
  top:754px;
  width:15px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:406px;
  top:793px;
  width:15px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:20px;
  top:120px;
  width:480px;
  height:48px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:48px;
}
#u59 {
  position:absolute;
  left:2px;
  top:16px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:88px;
  top:136px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:242px;
  top:136px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:393px;
  top:136px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:64px;
  top:164px;
  width:85px;
  height:4px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:4px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-6px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:30px;
  top:438px;
  width:460px;
  height:224px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:224px;
}
#u69 {
  position:absolute;
  left:2px;
  top:104px;
  width:456px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:226px;
  top:412px;
  width:66px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:188px;
  top:672px;
  width:144px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:640px;
  top:20px;
  width:480px;
  height:800px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u75 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:650px;
  top:25px;
  width:460px;
  height:220px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:220px;
}
#u77 {
  position:absolute;
  left:2px;
  top:102px;
  width:456px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:640px;
  top:20px;
  width:480px;
  height:32px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:640px;
  top:50px;
  width:480px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:72px;
}
#u81 {
  position:absolute;
  left:2px;
  top:20px;
  width:476px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:650px;
  top:759px;
  width:460px;
  height:50px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:50px;
}
#u83 {
  position:absolute;
  left:2px;
  top:17px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:650px;
  top:70px;
  width:32px;
  height:32px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u85 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:718px;
  top:584px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:718px;
  top:643px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:718px;
  top:702px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:1040px;
  top:584px;
  width:31px;
  height:22px;
  font-size:18px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:1040px;
  top:702px;
  width:31px;
  height:22px;
  font-size:18px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:1040px;
  top:643px;
  width:31px;
  height:22px;
  font-size:18px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:650px;
  top:539px;
  width:460px;
  height:50px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:50px;
}
#u99 {
  position:absolute;
  left:2px;
  top:17px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:650px;
  top:579px;
  width:460px;
  height:190px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:190px;
}
#u101 {
  position:absolute;
  left:2px;
  top:87px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:702px;
  top:553px;
  width:53px;
  height:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:866px;
  top:552px;
  width:27px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:1014px;
  top:551px;
  width:40px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:650px;
  top:616px;
  width:460px;
  height:10px;
}
#u108_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_end {
  position:absolute;
  left:443px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_line {
  position:absolute;
  left:0px;
  top:5px;
  width:460px;
  height:1px;
}
#u109 {
  position:absolute;
  left:650px;
  top:653px;
  width:460px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:443px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:5px;
  width:460px;
  height:1px;
}
#u110 {
  position:absolute;
  left:650px;
  top:690px;
  width:460px;
  height:10px;
}
#u110_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_end {
  position:absolute;
  left:443px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_line {
  position:absolute;
  left:0px;
  top:5px;
  width:460px;
  height:1px;
}
#u111 {
  position:absolute;
  left:650px;
  top:727px;
  width:460px;
  height:10px;
}
#u111_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_end {
  position:absolute;
  left:443px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_line {
  position:absolute;
  left:0px;
  top:5px;
  width:460px;
  height:1px;
}
#u112 {
  position:absolute;
  left:828px;
  top:779px;
  width:105px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:696px;
  top:593px;
  width:65px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:869px;
  top:593px;
  width:22px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:696px;
  top:632px;
  width:65px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:872px;
  top:632px;
  width:15px;
  height:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:696px;
  top:669px;
  width:65px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:872px;
  top:669px;
  width:15px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:696px;
  top:706px;
  width:65px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:872px;
  top:706px;
  width:15px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:696px;
  top:742px;
  width:65px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:872px;
  top:742px;
  width:15px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:1026px;
  top:593px;
  width:15px;
  height:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:1026px;
  top:632px;
  width:15px;
  height:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:1026px;
  top:669px;
  width:15px;
  height:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:1026px;
  top:706px;
  width:15px;
  height:16px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:1026px;
  top:742px;
  width:15px;
  height:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:640px;
  top:120px;
  width:480px;
  height:48px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:48px;
}
#u145 {
  position:absolute;
  left:2px;
  top:16px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:708px;
  top:136px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:862px;
  top:136px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:1013px;
  top:136px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:684px;
  top:164px;
  width:85px;
  height:4px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:4px;
}
#u153 {
  position:absolute;
  left:2px;
  top:-6px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:650px;
  top:277px;
  width:460px;
  height:224px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:224px;
}
#u155 {
  position:absolute;
  left:2px;
  top:104px;
  width:456px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:846px;
  top:251px;
  width:66px;
  height:16px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:808px;
  top:511px;
  width:144px;
  height:16px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:202px;
  top:880px;
  width:97px;
  height:28px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:832px;
  top:880px;
  width:97px;
  height:28px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
