body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:50px;
  width:480px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:72px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:476px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:70px;
  width:32px;
  height:32px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:167px;
  width:480px;
  height:90px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:37px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:52px;
  top:185px;
  width:58px;
  height:58px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u11 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:130px;
  top:203px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:454px;
  top:202px;
  width:24px;
  height:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:690px;
  top:118px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:730px;
  top:118px;
  width:480px;
  height:97px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:97px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:488px;
  top:196px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:20px;
  top:255px;
  width:480px;
  height:90px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:90px;
}
#u23 {
  position:absolute;
  left:2px;
  top:37px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:52px;
  top:273px;
  width:58px;
  height:58px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u25 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:130px;
  top:291px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:454px;
  top:290px;
  width:24px;
  height:24px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:20px;
  top:344px;
  width:480px;
  height:90px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:90px;
}
#u31 {
  position:absolute;
  left:2px;
  top:37px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:52px;
  top:362px;
  width:58px;
  height:58px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u33 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:130px;
  top:380px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:454px;
  top:379px;
  width:24px;
  height:24px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:20px;
  top:432px;
  width:480px;
  height:90px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:90px;
}
#u39 {
  position:absolute;
  left:2px;
  top:37px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:52px;
  top:450px;
  width:58px;
  height:58px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u41 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:130px;
  top:468px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:454px;
  top:467px;
  width:24px;
  height:24px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:20px;
  top:521px;
  width:480px;
  height:90px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:90px;
}
#u47 {
  position:absolute;
  left:2px;
  top:37px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:52px;
  top:539px;
  width:58px;
  height:58px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u49 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:130px;
  top:557px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:454px;
  top:556px;
  width:24px;
  height:24px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:20px;
  top:610px;
  width:480px;
  height:90px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:90px;
}
#u55 {
  position:absolute;
  left:2px;
  top:37px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:52px;
  top:628px;
  width:58px;
  height:58px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u57 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:130px;
  top:646px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:454px;
  top:645px;
  width:24px;
  height:24px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u61 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:20px;
  top:120px;
  width:480px;
  height:48px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:48px;
}
#u63 {
  position:absolute;
  left:2px;
  top:16px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:79px;
  top:136px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:232px;
  top:136px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:370px;
  top:136px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:217px;
  top:164px;
  width:85px;
  height:4px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:4px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-6px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
