body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1182px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:50px;
  width:480px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:72px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:476px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:70px;
  width:32px;
  height:32px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:447px;
  top:78px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:489px;
  top:72px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:700px;
  top:275px;
  width:480px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:660px;
  top:275px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:700px;
  top:40px;
  width:480px;
  height:190px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:190px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:660px;
  top:40px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:800px;
  top:90px;
  width:240px;
  height:110px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:110px;
}
#u21 {
  position:absolute;
  left:2px;
  top:47px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:800px;
  top:160px;
  width:240px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u23 {
  position:absolute;
  left:912px;
  top:170px;
  width:19px;
  height:22px;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:805px;
  top:103px;
  width:233px;
  height:57px;
  font-size:16px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:57px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:20px;
  top:160px;
  width:480px;
  height:61px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:61px;
}
#u28 {
  position:absolute;
  left:2px;
  top:22px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:40px;
  top:182px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:401px;
  top:181px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:460px;
  top:179px;
  width:24px;
  height:24px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:20px;
  top:220px;
  width:480px;
  height:170px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:170px;
}
#u36 {
  position:absolute;
  left:2px;
  top:77px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:40px;
  top:236px;
  width:218px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:40px;
  top:400px;
  width:156px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:489px;
  top:175px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:489px;
  top:231px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:702px;
  top:330px;
  width:480px;
  height:80px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:80px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:662px;
  top:330px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
