body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:50px;
  width:480px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:72px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:476px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:70px;
  width:32px;
  height:32px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:149px;
  width:480px;
  height:61px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:61px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:171px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:447px;
  top:78px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:484px;
  top:78px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:190px;
  top:164px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:700px;
  top:275px;
  width:480px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:660px;
  top:275px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:700px;
  top:40px;
  width:480px;
  height:190px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:190px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:660px;
  top:40px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:800px;
  top:90px;
  width:240px;
  height:110px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:110px;
}
#u27 {
  position:absolute;
  left:2px;
  top:47px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:800px;
  top:160px;
  width:240px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u29 {
  position:absolute;
  left:912px;
  top:170px;
  width:19px;
  height:22px;
  font-size:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:805px;
  top:121px;
  width:233px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:800px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u34 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:20px;
  top:50px;
  width:480px;
  height:72px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:72px;
}
#u38 {
  position:absolute;
  left:2px;
  top:20px;
  width:476px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:30px;
  top:70px;
  width:32px;
  height:32px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:20px;
  top:149px;
  width:480px;
  height:61px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:61px;
}
#u42 {
  position:absolute;
  left:2px;
  top:22px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:40px;
  top:171px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:447px;
  top:78px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:484px;
  top:78px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:190px;
  top:164px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:700px;
  top:275px;
  width:480px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:660px;
  top:275px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:660px;
  top:40px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:800px;
  top:90px;
  width:240px;
  height:110px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:110px;
}
#u58 {
  position:absolute;
  left:2px;
  top:47px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:800px;
  top:160px;
  width:240px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u60 {
  position:absolute;
  left:912px;
  top:170px;
  width:19px;
  height:22px;
  font-size:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:805px;
  top:110px;
  width:233px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:40px;
  top:220px;
  width:275px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
