body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:480px;
  height:32px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:50px;
  width:480px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:476px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:748px;
  width:480px;
  height:72px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:72px;
}
#u5 {
  position:absolute;
  left:2px;
  top:28px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:48px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:49px;
  top:798px;
  width:38px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:144px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:145px;
  top:798px;
  width:38px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:335px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:336px;
  top:798px;
  width:39px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:430px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:431px;
  top:798px;
  width:38px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:239px;
  top:755px;
  width:40px;
  height:40px;
  color:#666666;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:239px;
  top:798px;
  width:39px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:20px;
  top:98px;
  width:480px;
  height:856px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:856px;
}
#u27 {
  position:absolute;
  left:2px;
  top:420px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:20px;
  top:98px;
  width:480px;
  height:192px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:192px;
}
#u29 {
  position:absolute;
  left:2px;
  top:88px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:200px;
  top:118px;
  width:120px;
  height:120px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u31 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:224px;
  top:248px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:360px;
  top:163px;
  width:50px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:660px;
  top:121px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:700px;
  top:121px;
  width:480px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:660px;
  top:190px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:700px;
  top:190px;
  width:480px;
  height:48px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:48px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:30px;
  top:59px;
  width:32px;
  height:32px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
